@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.TextBoxField>
<div class="form-group @(Model.Mandatory ? "required" : null) @(Model.Invalid ? "has-error" : null)">
    <label for="@Model.FormSafeName">
        @Model.Label
        @Html.Partial("FormEditor/FieldsSync/core.utils.helptext")
        @Html.Partial("FormEditor/FieldsSync/core.utils.validationerror")
    </label>
    <input type="text" class="form-control" id="@Model.FormSafeName" name="@Model.FormSafeName" placeholder="@Model.Placeholder" value="@Model.SubmittedValue" maxlength="@(Model.MaxLength > 0 ? @Model.MaxLength.ToString() : null)" @(Model.Mandatory ? "required" : null) />

</div>
