@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.IFieldWithHelpText>
@if (string.IsNullOrEmpty(Model.HelpText) == false)
{
    <p class="help-text" id="example5Hint1">@Model.HelpText</p>
}
