/* layout */

#body{
	// margin: 25px 0;
	
}

#header{
	height: 150px; 
	position: relative;
	h1{
		top: 40%;
		position: absolute;
		background: #1779ba;
		color: #fff;
		font-size: 20px;
		padding: 5px 15px;
		display: inline;
	}
	#author{ 
		position: absolute;
		background: #000;
		color: #fff;
		font-size: 14px;
		bottom: 0;
		padding: 5px 15px;
	}
}
button .float-right{ 
	float: right;
}

.newsItem{
	margin-top: 16px;
	border-bottom: 1px solid #1779ba;
	&:last-child{ 
		border-bottom: none;
	}
}

.pagination{
	margin-top: 30px;
}

#inner{
	padding: 25px 0;
}

.back-btn{
	margin: 25px 0;
}

footer{ 
	padding: 50px 0;
	display: block;
	color: #fff;
	background: #1779ba;
}

/* end layout */