﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<umbraco7playground.Models.Content>
@{
    Layout = "Master.cshtml";
}

@if (Model.Content.HeaderImage != null)
{
    <div id="header" style="background-image: url(@Model.Content.HeaderImage.GetCropUrl(1600,150))">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <div class="row">
                <div class="columns large-8">
                    <h1>@Model.Content.Title</h1>
                </div>
            </div>
        }
    </div>
}
<div id="inner">
    <div class="row">
        <div class="columns medium-12">
            @if (Model.Content.Title != null)
            {
                @Model.Content.Title
            }
            @if (Model.Content.Text != null)
            {
                @Model.Content.Text
            }
        </div>
    </div>
</div>
