﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<umbraco7playground.Models.Contact>
@{
    Layout = "Master.cshtml";
    @* if your form property is not called "form" on the content type, pass the property name like this *@
    ViewBag.FormName = "contactForm";
}

@if (Model.Content.HeaderImage != null)
{
    <div id="header" style="background-image: url(@Model.Content.HeaderImage.GetCropUrl(1600,150))">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <div class="row">
                <div class="columns large-8">
                    <h1>@Model.Content.Title</h1>
                </div>
            </div>
        }
    </div>
}

<div id="inner">
    <div class="row">
        <div class="columns medium-12">
            @if (!string.IsNullOrEmpty(Model.Content.Title))
            {
                <h1>@Model.Content.Title</h1>
            }
            @if (Model.Content.ContactForm != null)
            {
                @Html.Partial("FormEditor/Sync", Umbraco.AssignedContentItem)
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="/JS/FormEditor/FormEditorSync.js" type="text/javascript"></script>
}