﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>@Model.Content.GetPropertyValue("seoTitle") - Umbraco7Playground</title>
    <meta name="description" content="@Model.Content. .GetPropertyValue("seoDescription") /">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    @{
        var navItems = Model.Content.AncestorOrSelf<umbraco7playground.Models.Website>().Children();
    }
    <div class="row">
        <div class="columns large-12">
            <div class="title-bar" data-responsive-toggle="topmenu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
            </div>

            <div class="top-bar" id="topmenu">
                <div class="top-bar-left">
                    <ul class="menu vertical medium-horizontal" data-dropdown-menu="accordion medium-dropdown">
                        @foreach (var item in navItems)
                        {
                            <li><a href="@item.Url">@item.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="body">
        @RenderBody()
    </div>
    <footer>
        <div class="row">
            <div class="columns large-12">
                &copy; Roy Wagemakers @DateTime.Now.Year
            </div>
        </div>
    </footer>  

    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/foundation.js"></script>
    <script type="text/javascript" src="/scripts/what-input.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
