﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<umbraco7playground.Models.News>
@{
    Layout = "Master.cshtml";

    var comments = umbraco7playground.Models.CommentsLogic.GetComments(Model.Content.Id);
}

@if (Model.Content.HeaderImage != null)
{
    <div id="header" style="background-image: url(@Model.Content.HeaderImage.GetCropUrl(1600,150))">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <div class="row">
                <div class="columns large-8">
                    <h1>@Model.Content.PublicationDate.ToShortDateString(): @Model.Content.Title</h1>
                    @if (Model.Content.Author != null)
                    {
                        <div id="author">
                            @if (Model.Content.Author.Picture != null)
                            {
                                <img src="@Model.Content.Author.Picture.GetCropUrl(25, 25)" alt="@Model.Content.Author.AuthorName" />
                            }
                            @Model.Content.Author.AuthorName
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
<div id="inner">
    <div class="row">
        <div class="columns medium-12">
            @if (Model.Content.Title != null)
            {
                @Model.Content.Title
            }
            @if (Model.Content.Text != null)
            {
                @Model.Content.Text
            }

            <a href="@Model.Content.Parent.Url" class="button hollow back-btn" role="button">Back to overview</a>

            <h3>Comments</h3>
            @if (!Model.Content.HideCommentField)
            {
                <h4>Post comment</h4>
                @Html.Partial("CommentForm", new umbraco7playground.Models.CommentsModel{ NewsItem = Model.Content.Id })
            }
            @if (comments.Count() > 0)
            {
                <h4>Other comments</h4>
                <ul class="comments" style="list-style: none;">
                    @foreach (var com in comments.OrderBy(i => i.CreatedOn))
                    {
                        <li class="callout small">
                            <h4>@com.SenderName - @com.CreatedOn.ToShortDateString() - @com.CreatedOn.ToShortTimeString()</h4>
                            <p>@com.Message</p>
                        </li>
                    }
                </ul>               
            }
            else
            {
                <hr />
                <p>No comments on '@Model.Content.Title' so far.</p>
            }
            @if (comments.Count() > 3)
            {
                // Only show when more than 3 comments (and we possibly need to scroll)
                <a href="@Model.Content.Parent.Url" class="button hollow back-btn" role="button">Back to overview</a>
            }
        </div>
    </div>
</div>
