﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<umbraco7playground.Models.NewsOverview>
@{
    if (Model.Content.Results.ShowLayout)
    {
        Layout = "Master.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<div id="newsOverviewAjax">
    @if (Model.Content.HeaderImage != null)
    {
        <div id="header" style="background-image: url(@Model.Content.HeaderImage.GetCropUrl(1600,150))">
            @if (!string.IsNullOrEmpty(Model.Content.Title))
            {
                <div class="row">
                    <div class="columns large-8">
                        <h1>@Model.Content.Title</h1>
                    </div>
                </div>
            }
        </div>
    }
    <div id="inner">
        <div class="row">
            <div class="columns medium-12">
                @if (!string.IsNullOrEmpty(Model.Content.Title))
                {
                    <h1>@Model.Content.Title</h1>
                }

                @using (Html.BeginForm("Index", "NewsOverview", FormMethod.Get, new Dictionary<string, object> { { "data-ajax", "true" }, { "data-ajax-method", "GET" }, { "data-ajax-update", "#newsOverviewAjax" } }))
                {
                    <input type="hidden" name="NewsOverviewPageId" value="@Model.Content.Id" />


                    <div class="row">
                        <div class="columns medium-2">
                            <label>
                                <select name="SortOrder">
                                    <option value="" disabled>Sort order</option>
                                    <option value="title,asc" @(Model.Content.Results.SortOrder == "title,asc" ? "selected" : null)>Title asc</option>
                                    <option value="title,desc" @(Model.Content.Results.SortOrder == "title,desc" ? "selected" : null)>Title desc</option>
                                    <option value="pubdate,asc" @(Model.Content.Results.SortOrder == "pubdate,asc" ? "selected" : null)>Pubdate asc</option>
                                    <option value="pubdate,desc" @(Model.Content.Results.SortOrder == "pubdate,desc" ? "selected" : null)>Pubdate desc</option>
                                    <option value="author,asc" @(Model.Content.Results.SortOrder == "author,asc" ? "selected" : null)>Author asc</option>
                                    <option value="author,desc" @(Model.Content.Results.SortOrder == "author,desc" ? "selected" : null)>Author desc</option>
                                </select>
                            </label>
                        </div>
                        <div class="columns medium-2 medium-offset-8 small-12">
                            <button type="submit" class="hollow button float-right">Sort news</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns medium-12">
                            @foreach (var item in Model.Content.Results.Items)
                            {
                                <div class="newsItem">
                                    <div class="row">
                                        <div class="columns medium-6 small-12">
                                            <a href="@item.Url" title="@item.Name">
                                                <img class="thumbnail" alt="@item.Name" src="@item.OverviewImage.GetCropUrl(600, 200)">
                                            </a>
                                        </div>
                                        <div class="columns medium-6 small-12">
                                            @if (!string.IsNullOrEmpty(item.Title))
                                            {
                                                <h3>
                                                    <a href="@item.Url" title="@item.Name">
                                                        @item.Title <small>@item.PublicationDate.ToShortDateString()</small>
                                                    </a>
                                                </h3>
                                            }
                                            @if(item.Author != null)
                                            {
                                                if (item.Author.Picture != null)
                                                {                                                   
                                                    <img src="@item.Author.Picture.GetCropUrl(25, 25)" alt="@item.Author.AuthorName" />
                                                }
                                                @item.Author.AuthorName
                                            }
                                            @if (item.Description != null)
                                            {
                                                <p>@item.Description</p>
                                            }
                                            <a href="@item.Url" title="Read more about @item.Url" class="button hollow" role="button">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    if (Model.Content.Results.Pages != null)
                    {
                        <div class="row">
                            <div class="columns medium-12">
                                <nav aria-label="Pagination">
                                    <ul class="pagination">
                                        @foreach (var p in Model.Content.Results.Pages)
                                        {
                                            <li class="page-item"><a data-ajax-mode="replace" data-ajax-method="get" data-ajax="true" data-ajax-update="#newsOverviewAjax" class="page-link @(p.isCurrent == true ? "current" : "")" href="@p.Url">@p.PageId</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>
