﻿@model umbraco7playground.Models.CommentsModel

@using (Html.BeginUmbracoForm("Post", "Comments", FormMethod.Post))
{
    @Html.HiddenFor(i => i.NewsItem)
    <label>
        Name
        @Html.EditorFor(i => i.SenderName, "SenderName", new { required = "true", placeholder = "Name" })
    </label>
    <label>
        E-mail
        @Html.EditorFor(i => i.SenderEmail, "SenderEmail", new { required = "true", placeholder = "E-mail" })
    </label>
    <label>
        Message
        @Html.TextAreaFor(i => i.Message, new { name = "Message", cols = 4, rows = 2, required = "true", placeholder = "Message" })
    </label>
    <div class="columns medium-12">
        <button type="submit" class="hollow button">Send comment</button>
    </div>
}